@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Montserrat:wght@100;600&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
.header {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: black;
  /* color: #00ffb3; */
  background-image: url(../Image/image\ 3.png);
  background-size: cover;
}
.header_container {
  position: absolute;
  /* background-color: aqua; */
  /* display: flex; */
  height: 100%;
  width: 58%;
  background-image: url(../Image/Show.png);
}
.header .header_content {
  /* background-color: aqua; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-items: end;
}
.header_Content_header ul {
  display: flex;
  padding-left: 928px;
  padding-top: 12px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24.455px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header_Content_header li {
  padding-right: 105px;
  list-style: none;
}
.header_Content_header li a {
  text-decoration: none;
  color: white;
}
#main {
  width: 100%;
}
.main-upper {
  position: relative;
  width: 100%;
  height: 500px;
  /* background-color: aqua; */
  top: -32px;
  /* display: flex;
  /* align-items: center; */
  /* justify-content: center;
  flex-wrap: wrap; */
}
.main-upper-heading {
  width: 100%;
  height: 100px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}
.main-upper-heading-1 {
  width: 668px;
  height: 67px;
  border-radius: 16.792px;
  background: #fff;
  box-shadow: 0px 3.731525421142578px 24.254915237426758px 0px
    rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: center;
  font-family: "Montserrat",sans-serif ;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 12px;
}
.main-upper-ending {
  width: 100%;
  height: 500px;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
}
.main-upper-ending-1 {
  width: 1000px;
  height: 383px;
  border-radius: 16.792px;
  background: #fff;
  box-shadow: 0px 3.731525421142578px 24.254915237426758px 0px
    rgba(0, 0, 0, 0.13);
    
}
.main-upper-ending-1>span{
  font-family: "Montserrat",sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 501;
  line-height: normal;
}
.h1 {
  position: absolute;
  top: 200px;
  left: 100px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 77.885px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 44.253px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 16px;
}
/* .main-upper-heading {
  width: 668px;
  height: 67px;
  border-radius: 16.792px;
  background: #fff;
  box-shadow: 0px 3.731525421142578px 24.254915237426758px 0px
    rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */
/* .main-upper-ending{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
} */

.main-upper-ending-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 45px;
}
.box-1{
  width: 100px;
  height: 100px;
 /* border: 2px solid black; */
 background-size: cover;
 font-size: 1rem;
}
.span-1{
  display: flex;
position: relative;
align-items: center;
justify-content: center;
top: 100px;
}
.main-ad{
  background-color: aqua;
  width: 100%;
  height: 309px;
  display: flex;
  justify-content: center;
}
.ad{
  width: 1087px;
  height: 170px;
  background: linear-gradient(101deg, #1AC18F -45.59%, #243B55 114.6%);
  border-radius: 15px;
  display: flex;
  align-items: center;
  container-type:inline-size ;
  /* justify-content: space-between; */

}
.ad-element-1{
  background-image: url(../Image/bx_bxs-offer.png);
  object-fit: cover;
  width: 140px;
  position: relative;
  height: 140px;
  /* border: 2px solid black; */
  left: 16px;
  /* border-radius: 50%; */
}
.ad-element-2{
  position: relative;
  width: 343px;
  height: 108px;
  /* border: 2px solid black; */
  left: 45px;
  font-size: 43px;
  display: inline;
 font-weight: 700;
 color: #fff;
}
.ad-element-3{
  position: relative;
  left: 53px;
  width: 154px;
  height: 50px;
  /* border: 2px solid black; */
  text-align: center;
  font-size: 24px;
  border-radius: 12px;
  line-height: 2;
  color: white;
  background: black;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.65);
}
.ad-element-4{
  border-radius: 15px;
  position: relative;
  width: 366px;
  height: 164px;
 left: 79px;
  border: 2px solid black;
}

